.read #body.vertical #verticalWrapper
{
	right: -552px;
	width: 552px;
	-o-transform: rotate(90deg);
	-o-transform-origin: 0% 0%;
	letter-spacing: 1px;
	line-height: 140%;
}

.read #body.vertical img
{
	-o-transform: rotate(-90deg);
}