html
{
	margin: 0px;
	padding: 0px;
	background: #ccddcc url("background.png") repeat-x scroll top left;
	font-family: sans-serif;
	line-height: 1.25;
}

body
{
	position: relative;
	margin: 0px 5% 0px 5%;
	padding: 0px;
	color: #000000;
	min-width: 560px;
}

img
{
	border: none;
}

a
{
	color: #0000ff;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#backToMobile
{
	position: absolute;
	left: 0px;
	top: 0px;
}

p
{
	margin: 0px 0px 16px 0px;
	padding: 0px;
}

hr
{
	margin: 0px 0px 8px 0px;
	border: none;
	border-top: #005019 1px solid;
	height: 0px;
}

dl
{
	margin: 0px;
	padding: 0px;
}

input[type="submit"], input[type="reset"], input[type="button"], button
{
	position: relative;
	margin: 0px 0px 8px 0px;
	padding: 2px 8px 2px 8px;
	border: #999999 1px solid;
	border-radius: 4px;
	height: 24px;
	background: #fcfcfc url("buttonBackground.png") repeat-x scroll left bottom;
	font: inherit;
	font-size: 9pt;
	text-shadow: 1px 1px 0px #ffffff;
	line-height: 18px;
	overflow: visible;
	box-sizing: border-box;
	box-shadow: 1px 1px 0px #ffffff inset, -1px 1px 0px #ffffff inset, -1px -1px 0px #ffffff inset, 1px -1px 0px #ffffff inset;
}

button img
{
	position: relative;
	left: -8px;
	top: -2px;
	margin: 0px;
	padding: 3px 4px 3px 3px;
	border-right: #ffffff 1px solid;
	background-color: #999999;
	vertical-align: top;
}

button img.last
{
	left: auto;
	right: -8px;
	border-right: none;
	border-left: #ffffff 1px solid;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover
{
	border-color: #559977;
	color: #005019;
	background-color: #ffffff;
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active
{
	border-color: #005019;
	box-shadow: 0px 0px 4px #559977;
}

button:hover img
{
	background-color: #559977;
}

button:active img
{
	background-color: #005019;
}

input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled], button[disabled]
{
	background-color: #ffffff !important;
	border-color: #cccccc !important;
	text-shadow: #cccccc -1px -1px 0px !important;
	box-shadow: 1px 1px 0px #ffffff inset, -1px 1px 0px #ffffff inset, -1px -1px 0px #ffffff inset, 1px -1px 0px #ffffff inset !important;
}

button[disabled] img
{
	border-color: #ffffff !important;
	background-color: #cccccc !important;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="color"],
input[type="number"],
input[type="date"],
textarea,
select
{
	margin: 0px 0px 8px 0px;
	padding: 1px 2px 1px 2px;
	border: #999999 1px solid;
	min-height: 18px;
	color: #000000;
	background-color: #ffffff;
	font: inherit;
	font-size: 9pt;
	line-height: 16px;
	box-sizing: content-box;
}

select
{
	padding: 1px;
	height: 22px;
	box-sizing: border-box;
}

textarea
{
	padding-right: 1px;
	overflow: auto;
}

input[type="checkbox"], input[type="radio"]
{
	margin: 0px;
	margin-right: 4px;
	padding: 0px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

header, footer, nav, hgroup, aside, article, section
{
	display: block;
}

body>header
{
	position: relative;
	margin: 0px 0px 8px 0px;
	padding: 16px 0px 16px 0px;
	height: 24px;
	background: #ffffff url("background.png") repeat-x scroll top left;
}

body>header>a:first-child
{
	margin: 0px;
	padding: 0px;
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #005019;
}

body>header nav
{
	position: absolute;
	right: 232px;
	top: 4px;
	margin: 0px 0px 8px 0px;
	padding: 16px 8px 8px 8px;
	height: 16px;
	line-height: 16px;
}

body>header nav ul
{
	margin: 0px;
	margin-top: -8px;
	margin-right: -8px;
	padding: 8px;
	height: 16px;
	background-color: #ffffff;
}

body>header nav ul li
{
	float: left;
	display: block;
	margin: 0px 0px 0px 8px;
	padding: 0px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
}

body>header nav ul li a img
{
	margin: 0px 4px 0px 0px;
	vertical-align: top;
	background-color: #005019;
}

body>header form
{
	position: absolute;
	top: 17px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: 224px;
	height: 22px;
}

body>header form input[name="query"]
{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding-right: 20px;
	box-sizing: content-box;
	width: 200px;
	height: 18px;
	line-height: 18px;
}

body>header form input[type="submit"]
{
	position: absolute;
	top: 1px;
	right: 1px;
	margin: 0px;
	padding: 0px;
	border: none;
	border-radius: 0px;
	width: 20px;
	height: 20px;
	background: transparent url("searchIcon.png") no-repeat scroll center center;
	text-indent: -1000%;
	overflow: hidden;
}

body>header form input[type="submit"]:active
{
	box-shadow: none;
}

body>footer
{
	clear: both;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 9pt;
}

body>footer>ul:first-child
{
	margin: 0px 0px 8px 0px;
	padding: 8px 142px 8px 8px;
	border: #999999 1px solid;
	border-radius: 4px;
	background: #efefef;
	text-align: center;
}

body>footer>ul:first-child li
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

body>footer>ul:first-child li+li:before
{
	display: inline;
	content: " | ";
}

body>footer>ul:first-child+a
{
	display: block;
	position: absolute;
	top: 0px;
	right: 9px;
	margin: 0px;
	padding: 4px 22px 4px 12px;
	border: #999999 1px solid;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	height: 16px;
	background: #ccddcc url("returnToTopIcon.png") no-repeat scroll right top;
	text-align: center;
	line-height: 16px;
}

.pagerContainer+footer
{
	margin-top: 32px;
}

.notify, .admin
{
	margin: 0px 0px 8px 0px;
	padding: 8px 8px 8px 32px;
	border: #ffbb00 1px solid;
	border-radius: 4px;
	min-height: 16px;
	background: #ffffcc none no-repeat scroll 8px 8px;
	line-height: 17px;
	font-size: 9pt;
}

.notify.info
{
	background-image: url("infoIcon.png");
}

.notify.warning
{
	background-image: url("warningIcon.png");
}

.notify.error
{
	background-image: url("errorIcon.png");
}

ul.notify
{
	padding-bottom: 0px;
}

.notify>li
{
	display: block;
	margin: 0px 0px 8px 0px;
	padding: 0px;
}

.notes, .search section.filter
{
	margin: 0px 0px 8px 0px;
	padding: 8px;
	border: #999999 1px solid;
	border-radius: 4px;
	background: #efefef;
}

.search section.filter
{
	padding-bottom: 0px;
}

.headdingButtons
{
	position: absolute;
	top: 72px;
	right: 0px;
}

.headdingButtons iframe
{
	margin-right: -32px;
}

div.entries
{
	margin: 0px -4px 0px -4px;
	padding: 0px;
}

div.entries article
{
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 50%;
	vertical-align: top;
}

div.entries article .notify
{
	margin-left: 4px;
	margin-right: 4px;
}

div.entries article .articleBody
{
	margin: 0px 4px 8px 4px;
	padding: 8px;
	border: #005019 1px solid;
	border-radius: 4px;
	background: #ffffff;
	overflow: hidden;
}

div.entries article time
{
	float: right;
	display: block;
	color: #999999;
	text-align: right;
}

div.entries article time+time
{
	margin-right: 4px;
}

div.entries article time.hidden+time
{
	margin-right: 0px;
}

div.entries article time.lastUpdate
{
	color: #666666;
}

.entries .compact
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.entries .compact>li
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.entries .compact>li+li
{
	margin-top: 4px;
	padding-top: 8px;
	border-top: #999999 1px solid;
}

.entries .host
{
	color: #666666;
}

.entries .update
{
	float: right;
	display: block;
	padding: 0px 4px 0px 0px;
	color: #005019;
	font-weight: bold;
	text-align: right;
}

.entries .hidden
{
	display: none;
}

div.entries article h2
{
	margin: 0px 0px 4px 0px;
	font-size: 120%;
}

div.entries dl
{
	margin: 4px 0px 0px 0px;
	padding: 4px;
	background: #efefef;
	font-size: 90%;
	clear: both;
}

div.entries article time+dl
{
	margin-top: 24px;
}

div.entries dl dt
{
	display: inline;
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 4px;
	border-left: #000000 1px solid;
}

div.entries dl dt:first-child, div.entries dl dt.firstChild
{
	margin-left: 0px;
	padding-left: 0px;
	border-left: none;
}

div.entries dl dd
{
	display: inline;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

div.entries dl dt:after
{
	display: inline;
	content: ": "
}

div.entries ul.tags
{
	margin: 2px 0px 0px -8px;
	padding: 0px;
	font-size: 90%;
}

div.entries ul.tags li
{
	display: inline;
	margin: 0px 0px 0px 8px;
	padding: 0px;
	border: none;
}

div.entries .summary
{
	margin: 4px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	border-top: #999999 1px solid;
}

section.entries
{
	font-size: 10pt;
	padding: 2px 4px 4px 4px;
}

.entries table
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: none;
	border-collapse: collapse;
	line-break: strict;
	word-break: normal;
	word-wrap: break-word;
}

.entries table h2
{
	margin: 0px;
	font-size: 10pt;
}

.entries table .update
{
	float: left;
	text-align: left;
}

.entries table tr
{
	background: #ffffff;
}

.entries tbody .tags
{
	background: #efefef;
}

.entries tbody tr.tags+tr,
.entries tbody tr.notags+tr
{
	border-top: #999999 1px solid !important;
}

.entries tbody .hasSummary:hover, .entries table .hasSummary:hover+.tags, .entries th.clickable:hover
{
	background: #f6f6f6;
}

.entries th.clickable:hover
{
	border-bottom: #999999 1px solid;
}

.entries table tr.tags ul
{
	display: block;
	margin: 0px;
	padding: 0px;
	min-height: 1em;
}

.entries table tr.tags ul li
{
	display: inline;
	margin: 0px;
	margin-right: 8px;
	padding: 0px;
	list-style: none;
}

.entries table tr.tags .summaryButton
{
	display: block;
	float: right;
	margin: 0px 0px 0px 8px;
	color: #999999;
}

.entries table th, .entries table td
{
	border: none;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.entries table thead tr
{
	font-weight: bold;
	color: #ffffff;
	border-bottom: #005019 1px solid;
}

.entries table th
{
	text-align: left;
	color: #005019;
}

.entries table .checkbox
{
	padding-right: 0px;
	width: 16px;
	vertical-align: top;
}

.entries table .checkbox input
{
	width: 100%;
	height: 100%;
}

.entries table .title
{
	min-width: 12em;
}

.entries table .name
{
	width: 8em;
}

.entries table .dateTime, .entries table .lastUpdate
{
	width: 8em;
}

.entries table .info
{
	text-align: right;
	width: 3.5em;
}

.entries table .info.commentCount
{
	width: 4em;
}

.entries table .info.size
{
	width: 4.75em;
}

.entries table .summaryButton
{
	display: block;
	float: left;
	margin: 0px 4px 0px 0px;
	padding: 0px;
}

.entries table .summaryButton.opened
{
}

.entries table p
{
	margin: 0px;
	margin-top: 8px;
}

section, .taglist, body>ul
{
	margin: 0px 0px 8px 0px;
	padding: 8px 8px 0px 8px;
	border: #005019 1px solid;
	border-radius: 4px;
	background: #ffffff;
}

body>ul
{
	padding: 8px 8px 8px 24px;
}

.taglist
{
	padding: 16px;
	line-height: 2;
}

.taglist dl
{
	display: block;
	margin: 0px;
	margin: 8px;
	padding: 0px;
}

.taglist dt
{
	display: block;
	margin: 0px;
	padding: 0px;
	color: #005019;
	font-weight: bold;
}

.taglist dd
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.taglist ul
{
	display: block;
	margin: 0px;
	padding: 0px;
}

.taglist li
{
	display: inline-block;
	margin-right: 16px;
	font-size: 125%;
}

.taglist li a
{
	white-space: nowrap;
}

.taglist li .count
{
	margin-left: 4px;
	font-size: 80%;
}

h1
{
	margin: 16px 0px 8px 0px;
	padding: 0px 0px 0px 24px;
	color: #005019;
	background: transparent url("h1.png") no-repeat scroll left top;
	vertical-align: middle;
	line-height: 20px;
	font-size: 20px;
}

body>h1, .entries h1
{
	height: 20px;
}

.entries h1
{
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

body>h1>span
{
	margin: 0px 8px 0px 8px;
	color: #000000;
	font-size: 9pt;
	font-weight: normal;
	line-height: normal;
}

h2
{
	margin: 0px 0px 8px 0px;
	padding: 0px;
	color: #005019;
	font: inherit;
	font-weight: bold;
}

.edit section, .auth section
{
	padding-left: 110px;
}

.edit section:first-child
{
	float: right;
	padding-left: 80px;
	width: 276px;
}

.edit section .notice
{
	margin: 0px 0px 8px -72px;
	padding: 8px 0px 0px 0px;
	border-top: #999999 1px solid;
	color: #666666;
	font-size: 9pt;
}

.edit section+section
{
	margin-right: 374px;
}

.edit label[for], .edit section h2, .auth label, #commentform label, .config dt, .search section label[for]
{
	float: left;
	clear: left;
	margin: 0px 0px 8px -72px;
	padding: 2px 2px 2px 0px;
	color: #005019;
	font-size: 9pt;
	font-weight: bold;
	line-height: 16px;
}

.search section label[for]
{
	margin-left: 0px;
	margin-right: -80px;
	padding: 3px 2px 3px 0px;
}

.edit section h2
{
	padding-top: 0px;
}

.config dt
{
	margin-left: 16px;
	padding: 0px;
}

.config dd
{
	margin: 0px 0px 8px 180px;
	padding: 0px;
	min-height: 16px;
	line-height: 16px;
}

.edit section+section label[for], .auth label
{
	margin-left: -102px;
}

.search section.filter input
{
	margin-left: 80px;
}

.edit section input[type="text"],
.edit section input[type="email"],
.edit section input[type="url"],
.edit section input[type="color"],
.search section input[type="text"]
{
	width: 270px;
}

.search section input[type="number"],
.search section input[type="date"]
{
	width: 120px;
}

.search section input[type="number"]+span,
.search section input[type="date"]+span
{
	display: inline-block;
	margin: 0px 4px 0px 4px;
	width: 16px;
	text-align: center;
}

.search section.filter span+input
{
	margin-left: 0px;
}

.edit section input[type="password"]
{
	width: 128px;
}

form[action="unpost"] section
{
	position: relative;
	margin-top: -42px;
	padding-top: 7px;
	border-color: #ffbb00;
	background: #ffffcc;
	width: 276px;
	height: 24px;
}

form[action="unpost"] section h2
{
	padding-top: 1px;
}

form[action="unpost"] section .buttons
{
	position: absolute;
	right: 4px;
	top: 4px;
}

form[action="unpost"] button, button.unpost
{
	color: #ffffff;
	background-color: #ff3300;
	border-color: #aa0000;
	text-shadow: #aa0000 -1px -1px 0px;
	box-shadow: 1px 1px 0px #ff6633 inset, -1px 1px 0px #ff6633 inset, -1px -1px 0px #ff6633 inset, 1px -1px 0px #ff6633 inset;
}

form[action="unpost"] button:hover, button.unpost:hover
{
	background-color: #ff4422;
	border-color: #cc3333;
}

form[action="unpost"] button:active, button.unpost:active
{
	border-color: #880000;
	box-shadow: 0px 0px 4px #aa0000;
}

form[action="unpost"] button img, button.unpost img
{
	border-color: #ff6633;
	background-color: #aa0000;
}

form[action="unpost"] button:hover img, button.unpost:hover img
{
	background-color: #cc3333;
}

form[action="unpost"] button:active img, button.unpost:active img
{
	background-color: #880000;
}

#commentform, #evaluateform
{
	position: relative;
	margin: 0px 0px 8px 0px;
	padding: 8px;
	border: #005019 1px solid;
	border-radius: 0px 4px 4px 4px;
	background: #ffffff;
}

#evaluateform
{
	background: #ffffff url("buttonGradation.png") repeat-y scroll right top;
}

#evaluateform p
{
	margin-bottom: 0px;
	height: 16px;
	line-height: 16px;
}

#commentformHeadding, #evaluateformHeadding
{
	display: block;
	margin: 0px 0px -1px 0px;
	padding: 2px 4px 2px 4px;
	width: 64px;
	height: 18px;
	border: #005019 1px solid;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	color: #ffffff;
	background: #005019;
	line-height: 18px;
	text-decoration: none;
	font-weight: bold;
}

#commentformHeadding.tab
{
	margin-left: 74px;
}

#evaluateformHeadding.first, #commentformHeadding.first
{
	margin-top: -22px;
}

#body+#links, .pagerContainer+#links
{
	margin-top: 50px;
}

#evaluateformHeadding.tab
{
	margin-bottom: -24px;
}

#commentformHeadding.inactive, #evaluateformHeadding.inactive
{
	position: relative;
	margin-top: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-color: #999999;
	border-bottom: #005019 1px solid;
	color: #0000ff;
	background: #efefef;
	font-weight: normal;
}

#commentformHeadding.inactive:hover, #evaluateformHeadding.inactive:hover
{
	background: #ffffff;
}

#evaluateformHeadding.inactive
{
	margin-top: -20px;
	margin-bottom: -23px;
}

#commentform input[type="text"],
#commentform input[type="password"],
#commentform input[type="email"]
{
	width: 232px;
}

#commentform button
{
	margin-bottom: 5px;
}

#commentformContent
{
	padding-left: 318px;
	padding-right: 8px;
	width: 494px;
	margin-right: auto;
	margin-left: auto;
}

#commentformContent div
{
	position: relative;
	margin: 0px;
}

#commentformContent div div
{
	position: absolute;
	left: -238px;
	top: 0px;
}

#commentform .notify
{
	margin-bottom: 8px;
}

#commentform select
{
	width: 238px;
}

#commentform textarea
{
	margin-left: 8px;
	width: 480px;
	min-width: 480px;
	height: 48px;
	min-height: 48px;
}

#commentform textarea.usePoint,
#commentform textarea.usePostPassword
{
	height: 78px;
	min-height: 78px;
}

#commentform textarea.usePoint.usePostPassword
{
	height: 108px;
	min-height: 108px;
}

#commentformContent>.buttons
{
	float: none;
	margin: 0px;
	margin-bottom: -4px;
}

.edit section+section input[type="text"]
{
	width: 360px;
}

.edit textarea
{
	width: 360px;
}

.edit textarea[name="body"]
{
	min-height: 420px;
}

.edit section p
{
	margin-top: -8px;
	margin-bottom: 8px;
}

.edit section ul
{
	margin: 0px 0px 8px 0px;
	padding: 0px;
}

.edit section li
{
	display: block;
	list-style-type: none;
}

.buttons,
.edit section ul.buttons,
.search section ul.buttons
{
	display: block;
	margin: 0px 0px 0px auto;
	padding: 0px;
	text-align: right;
}

.search section ul.buttons
{
	clear: both;
}

ul.buttons li,
.search section ul.buttons li
{
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 8px;
}

.search section.admin
{
	float: none;
	padding-left: 8px;
	width: auto;
}

.admin
{
	clear: both;
	padding-left: 8px;
}

.admin .buttons
{
	margin: -4px 0px -4px -4px !important;
	text-align: left !important;
}

.admin button
{
	margin-bottom: 0px;
}

.admin .buttons li
{
	margin: 0px;
	padding: 0px 8px 0px 0px !important;
}

.edit section ul.palette
{
	margin: -8px 0px 8px 0px;
	padding: 0px;
	border-left: #999999 1px solid;
}

.edit section ul.palette li
{
	display: table-cell;
	margin: 0px;
	padding: 0px;
	border: #999999 1px solid;
	border-left: none;
	border-top: none;
	width: 16px;
	height: 16px;
}

.edit section ul.palette li a
{
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.edit section ul.palette li:first-child a
{
	background-image: url("defaultColorIcon.png");
}

.index h1, .read h1
{
	margin-top: 32px;
}

body.index>h1, body.read>h1
{
	height: auto;
	min-height: 20px;
}

.index .status, .read .status
{
	position: absolute;
	left: 0px;
	top: 64px;
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-size: 9pt;
}

.index .status+.status, .read .status+.status
{
	left: auto;
	right: 0px;
	top: 56px;
	padding: 4px 8px 4px 0px;
	border: #005019 1px solid;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	height: 16px;
	color: #000000;
	background: transparent url("infoBackground.png") repeat-x scroll right bottom;
	line-height: 14px;
}

.index .status dt, .read .status dt
{
	float: left;
	display: block;
	margin: 0px 4px 0px 4px;
	padding: 0px 0px 0px 4px;
	border-left: #666666 1px solid;
}

.index .status dt:first-child
{
	margin-left: 0px;
	padding-left: 0px;
	border-left: none;
}

.index .status dd, .read .status dd
{
	float: left;
	display: block;
	margin: 0px;
	padding: 0px;
}

.index .status dt:after, .read .status dt:after
{
	display: inline;
	content: ": "
}

.index .status+.status dt, .read .status+.status dt
{
	margin-left: 8px;
	padding-left: 0px;
	border-left: none;
}

.read #tags
{
	padding: 0px;
	border: none;
	background: none;
}

.read #tags h2
{
	display: inline;
	margin: 0px;
	margin-right: 8px;
}

.read #tags ul
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.read #tags li
{
	display: inline;
	margin: 0px 4px 0px 0px;
	padding: 0px;
}

.read #body
{
	position: relative;
	margin: 32px;
	padding: 16px;
	padding-bottom: 8px;
	line-height: 1.3;
	overflow: hidden;
	line-break: strict;
	word-break: normal;
	word-wrap: break-word;
}

.read #body #contentWrapper
{
	line-height: 1.8;
}

.read #body h1
{
	margin: 0px;
	padding: 0px;
	height: auto;
	color: #666666;
	background: none;
}

.read #body address
{
	margin: 0px 0px 8px 0px;
	padding: 0px;
	color: #666666;
	font-style: normal;
	text-align: right;
}

.read #body table
{
	border-collapse: collapse;
}

.read #body table th, .read #body table td
{
	border: #999999 1px solid;
	padding: 4px;
}

.read .commentIsOnLastPage
{
	margin-bottom: 8px;
	color: #666666;
}

.read ul.options
{
	position: relative;
	float: right;
	margin: -23px 0px -1px 0px;
	padding: 4px 4px 0px 0px;
	border: none;
	background: none;
	height: 19px;
	z-index: 1;
}

.read .notify+ul.options
{
	margin-top: 0px;
}

.read ul.options li
{
	float: left;
	display: block;
	margin: 0px 0px 0px 4px;
	padding: 0px;
	height: 16px;
}

.read ul.options li.split
{
	padding-left: 4px;
	border-left: #999999 1px solid;
}

.read .hint
{
	position: absolute;
	right: 4px;
	top: 4px;
	padding: 4px;
	border: #ffbb00 1px solid;
	border-radius: 4px;
	color: #000000;
	background-color: #ffffcc;
	z-index: 1;
}

.read #body #summary
{
	margin: 0px -8px 24px -8px;
	padding: 8px;
	background: #efefef;
}

.read #body.vertical
{
	height: 528px;
}

.read #body.vertical #verticalWrapper
{
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: "@MeiryoKe_Gothic", "@メイリオ", "@ＭＳ ゴシック", monospace;
	overflow: auto;
}

.read #body.vertical #contentWrapper
{
	margin: 0px;
	padding: 16px;
}

.read #body .taketori-ttb
{
	margin: -16px;
}

.read #body .taketori-ttb>.taketori-col
{
	position: relative;
	top: -32px;
	padding: 16px 16px 16px 16px !important;
}

.read #body .taketori-ttb>.taketori-col #afterword
{
	margin-bottom: 8px;
}

.read #body #content
{
	margin: 0px 0px 24px 0px;
	padding: 0px;
}

.read #body footer
{
	margin: 8px -8px 0px -8px;
	padding: 0px;
	text-align: right;
}

.read #afterword
{
	margin: 64px -8px 0px -8px;
	padding: 8px 8px 0px 8px;
	border: none;
	border-radius: 4px;
	color: #000000;
	background-color: #efefef;
}

.read #afterword address
{
	margin: 0px;
	padding: 0px;
	font-style: normal;
	font-weight: bold;
	text-align: right;
}

.read #afterword address a
{
	font-weight: normal;
}

.read #afterword address .host
{
	font-weight: normal;
	color: #666666;
}

.read #comments
{
	margin: 0px 0px 8px 0px;
	padding: 0px 8px 8px 8px;
	border: #005019 1px solid;
	border-radius: 4px;
	background: #ffffff;
}

.read #comments dt
{
	margin: 8px 0px 0px 0px;
	padding: 8px 0px 0px 0px;
	border-top: #999999 1px solid;
	line-height: 16px;
}

.read #comments dt:first-child
{
	padding-top: 0px;
	border-top: none;
}

.read #comments dt.evaluation
{
	padding-top: 0px;
	border-top: none;
	color: #666666;
}

.read #comments dt .point
{
	margin-left: 4px;
}

.read #comments dt .point.none, .read #comments dt.none
{
	color: #666666;
}

.read #comments dt .point.plus
{
	color: #0000cc;
	font-weight: bold;
}

.read #comments dt .point.minus
{
	color: #cc0000;
	font-weight: bold;
}

.read #comments dt .name
{
	margin-left: 4px;
	font-weight: bold;
}

.read #comments dt.evaluation .name
{
	font-weight: inherit;
}

.read #comments dt time,
.read #comments dt span.host
{
	float: right;
	color: #666666;
}

.read #comments dt time:before
{
	display: inline;
	content: "■";
}

.read #comments dt span.host
{
	margin-right: 4px;
}

.read #comments dt>a
{
	float: right;
	margin-right: 4px;
}

.read #comments dd
{
	margin: 0px 0px 0px 16px;
	padding: 0px;
}

.read .notify ul.buttons,
.read #evaluateform .buttons,
.read #commentform .notify .buttons
{
	float: right;
	margin-top: -4px;
	margin-right: -4px;
	padding-left: 0px;
}

.read #evaluateform ul.buttons li,
.read .notify ul.buttons li,
.read #commentform .notify ul.buttons li
{
	display: block;
	float: left;
	margin-left: 0px;
}

.read #evaluateform>div
{
	float: right;
	margin-top: -3px;
}

.read #evaluateform>div.notify
{
	float: none;
	margin-top: 0px;
}

.read #evaluateform>div input[type="password"]
{
	width: 120px;
}

.read #evaluateform>div label
{
	margin-right: 8px;
	color: #005019;
	font-weight: bold;
}

.pagerContainer
{
	position: relative;
	height: 34px;
}

.pager
{
	position: relative;
	left: 50%;
	float: left;
	margin: 0px 0px 8px 0px;
	padding: 0px;
}

.pager:after
{
	display: block;
	clear: left;
	content: "";
}

.pager li
{
	display: block;
	position: relative;
	left: -50%;
	float: left;
	margin: 0px 2px 0px 2px;
	padding: 0px;
}

.pager li a, .pager li form
{
	display: block;
}

.pager li a, .pager li button
{
	display: block;
	margin: 0px;
	padding: 0px 5px 0px 5px;
	border: #999999 1px solid;
	border-radius: 0px;
	color: #0000ff;
	min-width: 14px;
	height: 24px;
	background: #efefef;
	line-height: 24px;
	text-align: center;
	text-shadow: none;
	box-shadow: none;
}

.pager li button
{
	min-width: 26px;
	height: 26px;
}

.pager li a:hover, .pager li button:hover
{
	background: #ffffff;
	text-decoration: none;
}

.pager li:first-child a, .pager li:first-child button
{
	border-radius: 4px 0px 0px 4px;
}

.pager li.last a, .pager li.last button
{
	border-radius: 0px 4px 4px 0px;
}

.pager li a[href="#"], .pager li a[href=""], .pager li button.loopback
{
	border-color: #005019;
	color: #ffffff;
	background: #005019;
	font-weight: bold;
}

.pager li.nav a[href="#"], .pager li.nav a[href=""], .pager li.nav button.loopback
{
	border-color: #999999;
	color: #999999;
	background: #efefef;
	font-weight: normal;
}

.index .pagerContainer.subjectPager span
{
	float: left;
	display: block;
	height: 26px;
	margin: 0px 4px 0px 4px;
	padding: 1px 0px 1px 0px;
	line-height: 26px;
	font-weight: bold;
}

.index .pagerContainer.subjectPager form
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.index .pagerContainer.subjectPager select
{
	margin: 0px 2px 0px 2px;
	padding: 1px;
	border: #999999 1px solid;
	border-radius: 0px 4px 4px 0px;
	min-width: 56px;
	height: 26px;
	background: #efefef;
	line-height: 26px;
	font-size: inherit;
	vertical-align: top;
}

.index .pagerContainer.subjectPager button
{
	margin: 0px 2px 0px 2px;
	padding: 1px 4px 1px 4px;
	border: #999999 1px solid;
	border-radius: 4px;
	min-width: 14px;
	height: 26px;
	background: #efefef;
	line-height: 26px;
	font-size: inherit;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.index .pagerContainer.subjectPager button:hover
{
	color: #000000;
	background: #ffffff;
}

.index .pagerContainer.subjectPager .pager
{
	left: 0px;
}

.index .pagerContainer.subjectPager .pager li
{
	left: 0px;
}

.read .pager
{
	text-align: center;
}

.index .pagerContainer.subjectPager
{
	position: absolute;
	left: auto;
	right: 0px;
	top: 56px;
	padding: 2px 2px 0px 2px;
	border: #005019 1px solid;
	border-top: none;
	border-radius: 0px 0px 4px 4px;
	color: #000000;
	height: 30px;
	background: transparent url("infoBackground.png") repeat-x scroll right bottom;
}

.index .subjectPager .pager
{
	margin-bottom: 0px;
}

.search ul.params
{
	margin: 0px -8px 8px 0px;
	padding: 0px;
}

.search .params li
{
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 50%;
}

.dropDown
{
	position: relative;
	display: inline-block;
	margin: 0px;
	padding: 1px 1px 1px 3px;
	border: #005019 1px solid;
	border-radius: 3px 0px 0px 3px;
	width: 76px;
	height: 18px;
	background-color: #ffffff;
	font-size: 9pt;
	font-weight: normal;
	line-height: 18px;
	vertical-align: top;
}

.dropDown+.dropDown
{
	border-left: none;
	border-radius: 0px 3px 3px 0px;
}

.dropDown .button
{
	float: right;
	margin: 0px 0px 0px 3px;
	padding: 0px;
	background: #005019 url("dropDownIcon.png") no-repeat scroll 0 -18px;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.dropDown.open
{
	border-radius: 3px 0px 0px 0px;
	color: #ffffff;
	background-color: #005019;
	box-shadow: 0px 0px 4px #005019;
}

.dropDown+.dropDown.open
{
	border-radius: 0px 3px 0px 0px;
}

.dropDown.open .button
{
	background-position: -18px -18px;
}

.dropDown.open>.button
{
	background-color: transparent;
}

.dropDown.ascending .button
{
	background-position: 0px 0px;
}

.dropDown.ascending.open .button
{
	background-position: -18px 0px;
}

.dropDown ul
{
	position: absolute;
	left: -1px;
	top: 21px;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 80px;
	border: #005019 1px solid;
	border-top: none;
	border-radius: 0px 0px 3px 3px;
	color: #005019;
	background-color: #ffffff;
	box-shadow: 0px 0px 4px #005019;
	z-index: 1;
}

.dropDown ul li
{
	position: relative;
	display: block;
	padding: 2px 3px 2px 3px;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
}

.dropDown ul li:hover
{
	color: #ffffff;
	background-color: #005019;
}

.dropDown ul li.listType+.listVisibility
{
	border-top: #005019 1px solid;
}

.dropDown ul li .button
{
	position: absolute;
	right: 1px;
	top: 1px;
	background: #ffffff;
}

.dropDown ul li:hover .button
{
	background-color: transparent;
}

.dropDown ul li.selected .button
{
	background: #005019 url("dropDownIcon.png") no-repeat scroll 0px -36px;
}

.dropDown ul li:hover.selected .button
{
	background-color: transparent;
	background-position: -18px -36px;
}

.success
{
	padding: 8px;
	text-align: center;
}