input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="color"],
input[type="number"],
input[type="date"],
textarea,
select
{
	min-height: 20px;
	line-height: 21px;
}

body>header form input[type="search"]
{
	line-height: 22px;
}

body>header form input[type="submit"]
{
	top: 2px;
	right: 2px;
}

.read #body
{
	overflow: visible;
}

.read #body.vertical #summary
{
	margin: -8px 0px -8px 24px !important;
}

.read #body.vertical #verticalWrapper
{
	writing-mode: tb-rl;
	-ms-writing-mode: tb-rl;
	letter-spacing: 1px;
	line-height: 130%;
	height: 100%;
}

.read #body.vertical h1
{
	height: auto;
	margin-left: 8px;
}

.read #body.vertical #content
{
	margin-right: 24px;
	margin-bottom: 0px;
}

.read #body.vertical #contentWrapper>address
{
	margin-left: 8px;
	margin-bottom: 0px;
}

.read #body.vertical #afterword
{
	margin: -8px 64px -8px 0px;
	padding: 8px 8px 8px 0px;
}

.read #body.vertical #afterword footer
{
	display: inline-block;
	margin-left: 8px;
}

*:first-child+html .taglist li
{
	display: inline;
}