body>header form input[name="query"]::-webkit-input-placeholder
{
	color: #666666;
}

.read #body.vertical #verticalWrapper
{
	-webkit-writing-mode: vertical-rl;
	letter-spacing: 1px;
	line-height: 130%;
	height: auto;
}

.read #body.vertical h1
{
	height: auto;
	margin-left: 8px;
}

.read #body.vertical #contentWrapper>address
{
	margin-left: 8px;
	margin-bottom: 0px;
}

.read #body.vertical #afterword
{
	margin: -8px 64px -8px 0px;
	padding: 8px 8px 8px 0px;
}

.edit section ul.palette
{
	position: relative;
}

input[type="submit"], input[type="reset"], input[type="button"], button
{
	-webkit-box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 0px #ffffff inset, -1px 1px 0px #ffffff inset, -1px -1px 0px #ffffff inset, 1px -1px 0px #ffffff inset;
}

input[type="submit"][disabled], input[type="reset"][disabled], input[type="button"][disabled], button[disabled]
{
	box-shadow: 1px 1px 0px #ffffff inset, -1px 1px 0px #ffffff inset, -1px -1px 0px #ffffff inset, 1px -1px 0px #ffffff inset !important;
}

form[action="unpost"] button, button.unpost
{
	box-shadow: 1px 1px 0px #ff6633 inset, -1px 1px 0px #ff6633 inset, -1px -1px 0px #ff6633 inset, 1px -1px 0px #ff6633 inset;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="color"],
input[type="number"],
input[type="date"],
textarea,
select
{
	-webkit-box-sizing: content-box;
}

input[type="color"]
{
	margin-bottom: 4px;
}

select
{
	-webkit-box-sizing: border-box;
}
